* {
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color:aliceblue
}

header {
  background-color: #4794cf;
  color: white;
  padding: 1em;
  font-size: 3em;
  text-align: center;
}

.form {
  display: flex;
  gap:1em;
  justify-content: center;
  padding: 2em;
}
.form__input {
  border: 1px solid #4794cf;
  border-radius: 10px;
  padding: 0.5em 1.5em;
  font-size: 1em;
}

.form__button {
  background-color: #4794cf;
  border: 1px solid #4794cf;
  border-radius: 10px;
  padding-inline: 1em;
  color:white
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo {
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:.5em
}

.todo__item {
  width:90%;
  font-size: 1.5em;
  color: #04487b;
  border-radius: 15px;
  padding: .5em;
  box-shadow: -4px 5px 11px 3px #a8c4da;
  background-color: white;
  list-style-type: none;  
  padding-left: 1em;
}

.todo__item--completed {
  width:90%;
  font-size: 1em;
  color: rgb(149, 176, 200);
  border-radius: 15px;
  padding: .5em;
  box-shadow: -4px 5px 11px 3px #a8c4da;
  background-color: white;
  list-style-type: none; 
  padding-left: 1em; 
}

.todo__item--completed p {
  font-size: 1.5em;
  color: rgb(149, 176, 200);
  text-decoration: line-through;
}

.todo__button {
  background-color: #4794cf;
  color: white;
  border: 0 solid #4794cf;
  border-radius: 10px;
  text-decoration: none;
  padding-inline: .8em;
  padding-block: .3em;
  margin-left: 6em;
}

@media screen and (min-width: 321px){
  .form__input {
    width: 30em; 
    height: 3em
  } 
}

@media screen and (min-width: 769px){
  .form__input {
    width: 50em
  }
}